/*解决8像素问题*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

/*文字自动居中*/
body {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

/*去掉前面的小圆点*/
ul,
ol,
li {
    list-style: none;
}

/*取消a的下划线*/
a {
    text-decoration: none;
    /*设置a的字体颜色，蓝色太丑了*/
    color: #333;
    /*设置链接变成小手*/
    cursor: pointer;
}

/*去掉边框，自动垂直居中*/
input,
button,
img,
select,
textarea {
    border: none;
    vertical-align: middle;
    outline: none;
    /*去掉选中产生的黑框*/
}

textarea {
    resize: none;
    /*禁止自动更改大小*/
    text-indent: 2em;
    /*首行缩进2字符*/
}

button {
    cursor: pointer;
}

/*居中板块*/
/*每一个板块都必须要套上wrap，要不然放大缩小会位置错乱*/
.wrap {
    width: 1226px;
    /*高度由内容撑开*/
    margin: 0 auto;
}

label {
    cursor: pointer;
}